{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Чтобы сбросить старый пароль - введите адрес электронной почты, под которым вы регистрировались
        </div>
        <div class="card-body">
          {% include 'users/includes/form_errors.html' %}
          <form method="post" action="{% url 'users:password_reset' %}">
            {% include 'users/includes/form.html' %}
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">Сбросить пароль</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
